@model IEnumerable<Politica>

@if(Model is not null){
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var politica in Model)
            {
                <div class="col">
                    <div class="card h-100">
                        <img class="card-img-top p-1" src="@politica.ImagenUrl" alt="Logo @politica.Titulo" />
                        <div class="card-body">
                            <h5 class="card-title">@politica.Titulo</h5>
                            <p class="card-text">@politica.Descripcion</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" target="_blank" href="@politica.DescripcionURL">leer más</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}